.col-sort.button-link {
  border: none;
  text-align: left;
  padding: 2px;
  color: #1a4794;
}

.bg-default{
  background-color: #e1e1e1;
}

.button-link:hover {
  color: #000 !important;
  text-decoration: underline;
}

.dashboard-form label.control-label,
div.label-spacer {
  display: inline-block;
  text-align: right;
  width: 226px;
  margin-right: 20px;
}

.dashboard-form .form-row {
  margin-bottom: 20px;
}

.dashboard-form .form-row .form-control {
  display: inline-block;
  width: 270px;
}

.dashboard-form .form-row-submit {
  margin-left: 250px;
}

span.required {
  color: red;
}

.alert li + br {
  display: none !important;
}

.job_container li,
.ccm-system-errors li {
  list-style: none;
}

.dashboard-form label.control-label, div.label-spacer {
  vertical-align: top;
  margin-top: 6px;
}

.editor-wrapper {
  width: 70%;
  display: inline-block;
}

.field-spacer {
  margin-right: 15px;
}
